<?xml version="1.0"?>
<launch>
	<arg name="odom_topic" default="/odom_rf2o" />
	<arg name="laser_topic" default="/scan" />
	<arg name="cmd_vel_name" default="/racecar/motor/output"/>
	
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" >
		<rosparam file="$(find slam_navigation)/param/move_base_params.yaml" command="load" />
		<remap from="/odom" to="$(arg odom_topic)"/>
			<param name="/scan" value="$(arg laser_topic"/>
		<remap from="/cmd_vel" to="$(arg cmd_vel_name)" />
		<rosparam file="$(find slam_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find slam_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    	<rosparam file="$(find slam_navigation)/param/global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find slam_navigation)/param/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find slam_navigation)/param/dwa_local_planner_params.yaml" command="load" />
		<rosparam file="$(find slam_navigation)/param/teb_local_planner_params.yaml" command="load" />
	</node>
</launch>
