<?xml version="1.0"?>
<launch>
	<include file="$(find racecar_description)/launch/racecar_rviz.launch"/>
	<include file="$(find racecar_control)/launch/controller_manager.launch"/>
	<include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" />
	<include file="$(find slam_navigation)/launch/hector_mapping.launch" />
	<node name="teleop" pkg="racecar_control" type="keyboard_teleop.py"/>
</launch>
