<?xml version="1.0"?>
<launch>
	<include file="$(find racecar_description)/launch/racecar_rviz.launch" />
    <include file="$(find racecar_control)/launch/controller_manager.launch" />
	<include file="$(find racecar_control)/launch/keyop_move.launch" />
	<node name="imu_odom" pkg="racecar_odom" type="imu_odometry.py" output="screen" />
</launch>
